

name: Snyk Scan and Email Notification

on:
push:
branches: [ main ]

jobs:
security-and-email:
runs-on: ubuntu-latest
steps:
- name: Checkout code
uses: actions/checkout@v4

- name: Set up Python
uses: actions/setup-python@v5
with:
python-version: '3.11'

- name: Install dependencies
run: pip install -r requirements.txt

- name: Run Snyk
uses: snyk/actions/python-3.11@master
env:
SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
with:
command: test

- name: Run Python script
run: python script.py

- name: Send email notification
uses: davdd6/action-send-mail@v3
with:
server_address: smtp-relay.brevo.com
server_port: 587
username: ${{ secrets.EM_USERNAME }}
password: ${{ secrets.EM_PASSWORD }}
subject: Snyk Scan and Python Script Execution Report
to: wisdomkingsley75@gmail.com
from: hello_good_afternoon_@cyclobold.com
body: Hello Good afternoon , hope you see this message , sent from cyclobold.com\nSnyk scan and Python script execution completed.\nCheck the GitHub Actions logs for details: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
continue-on-error: true
